h1 {
    color: rgb(178, 4, 4);
    text-align: center;
}

h3 {
    color: rgb(178, 4, 4);
}

body {
    background-color: black;
}

#button {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 5px;
    overflow: hidden;
    /* width: 130px; */
    background-color: rgb(178, 4, 4);
    /* position: relative; */
    /* display: inline-block; */
}

li {
    border: .1px solid black;
    float: left;
    width: 200px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(147, 5, 5);
    color: white;
}
ul {border-radius: 8px;} 